{% extends 'base.html' %}

{% block content %}
    <!-- edit profile form -->
    <section id="register-page" class="content auth">
        <form id="register" method="post" action="{% url 'profile edit' %}">
            {% csrf_token %}
            <div class="container">
                <div class="brand-logo"></div>
                <h1>Edit Profile</h1>

                <label for="username">Username:</label>
                {{ field_errors.username }}
                {{ form.username }}

                <label for="email">Email:</label>
                {{ field_errors.email }}
                {{ form.email }}

                <label for="age">Age:</label>
                {{ field_errors.age }}
                {{ form.age }}

                <label for="password">Password:</label>
                {{ field_errors.password }}
                {{ form.password }}

                <label for="profile_picture">Profile Picture:</label>
                {{ field_errors.profile_picture }}
                {{ form.profile_picture }}

                <input class="btn" type="submit" value="Edit Profile">
            </div>
        </form>
    </section>
{% endblock %}
