{% extends 'base.html' %}

{% block content %}
        <!-- Edit Fruit Form -->
        <section id="edit">
            <div class="form">
                <h2>Edit Fruit</h2>
                <form class="edit-form" action="{% url 'fruit edit' fruit_id %}" method="post">
                    {% csrf_token %}

                    <label for="name">Name:</label>
                    {{ errors.name }}
                    {{ form.name }}

                    <label for="Fruit-image">Image URL:</label>
                    {{ errors.image_url }}
                    {{ form.image_url }}

                    <label for="fruit-description">Description:</label>
                    {{ errors.description }}
                    {{ form.description }}

                    <label for="fruit-nutrition">Nutrition:</label>
                    {{ errors.nutrition }}
                    {{ form.nutrition }}

                    <button type="submit">Edit</button>
                </form>

            </div>
        </section>
{% endblock %}